{% extends 'base.html.twig' %}

{% block title %}Lista de Productos{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto mt-4">
            <h1 class="text-center">Lista de Productos</h1>

            <!-- Formulario de búsqueda -->
            <form action="{{ path('search_products') }}" method="post">
                {{ form_widget(form) }}
            </form>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th>Identificador</th>
                            <th>Nombre</th>
                            <th>Cantidad Disponible</th>
                            <th>Precio Unitario</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr scope="col" class="text-center">
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.available_quantity }}</td>
                                <td>{{ product.unit_price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
