{# templates/user/create_order.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Crear Pedido{% endblock %}

{% block body %}
    <h1>Crear Pedido</h1>
    {{ form_start(form) }}
    {{ form_row(form.user) }}
    {{ form_row(form.shippingAddress) }}
    {{ form_row(form.total) }}
    <button type="submit" class="btn btn-primary">Guardar</button>
    {{ form_end(form) }}
{% endblock %}
