{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <h1 class="text-center">Registro</h1>
                {{ form_start(form_users) }}
                <div class="form-group">
                    {{ form_row(form_users.name) }}
                    {{ form_row(form_users.username) }}
                    {{ form_row(form_users.password) }}
                    {{ form_row(form_users.address) }}
                    {{ form_row(form_users.phone) }}
                    {{ form_row(form_users.email) }}
                    <div class="form-check">
                        {{ form_widget(form_users.authn_data, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(form_users.authn_data, 'Datos de autorización', {'label_attr': {'class': 'form-check-label'}}) }}
                    </div>
                    <div class="form-group mt-3">
                        {{ form_widget(form_users.submit) }}
                        <a href="{{ path('getUsers') }}" class="btn btn-default">Cancelar</a>
                    </div>
                </div>
                {{ form_end(form_users) }}
            </div>
        </div>
    </div>
{% endblock %}
