{% extends ('base.html.twig') %}

{# {% block title %}
    <title>Usuarios</title>
{% endblock title %} #}

{% block body %}
    <h1>Users list</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Telefóno</th>
                <th>Autorización</th>
            </tr>
        </thead>
        <tbody>
            {% for user in listUsers %}
                <tr>
                    <td scope="col">{{ loop.index }}</td>
                    <td scope="col">{{ user.name }}</td>
                    <td scope="col">{{ user.username }}</td>
                    <td scope="col">{{ user.address }}</td>
                    <td scope="col">{{ user.email }}</td>
                    <td scope="col">{{ user.phone }}</td>
                    <td scope="col">{{ user.authnData }}</td>
                    <td>
                        <a href="#" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
