{% extends ('base.html.twig') %} {# {% block title %}
<title>Usuarios</title>
{% endblock title %} #} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto mt-4">
      <h1 class="text-center">Users list</h1>
      <a href="{{ path('createUser') }}" class="btn btn-primary">Registrar usuario</a>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="text-center">
              <th>id</th>
              <th>Nombre</th>
              <th>Usuario</th>
              <th>Dirección</th>
              <th>Email</th>
              <th>Telefóno</th>
              <th>Autorización</th>
            </tr>
          </thead>
          <tbody>
            {% for user in listUsers %}
            <tr scope="col" class="text-center">
              <td >{{ loop.index }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.authnData }}</td>
              <td>
                <a href="{{ path('deleteUser', {'id':user.id}) }}" class="btn btn-danger">Eliminar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
